<h1>Stupid Coaching</h1>
<div class="form">
  <div class="you">
    <p><%= @question %></p>
    <p>-You</p>
  </div>
  <div class="coach">
    <p class="answer"><%= @answer %></p>
    <p>-Your coach</p>
  </div>
</div>

<%= link_to "Ask a new question", ask_path  %>
